/* Reset stylów */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f0f0f0;
  margin-bottom: 3rem;
}

main,
aside {
  h1,
  h2,
  h3,
  p {
    margin-bottom: 1rem;
    line-height: 1.5;
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    'header'
    'nav'
    'main'
    'aside'
    'footer';
  margin: 0 auto;
  background: transparent;
}

header {
  grid-area: header;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem;
  background: #f5a623;
  color: white;

  h1 {
    font-size: 2rem;
  }

  .logo {
    font-weight: bold;
    background: white;
    color: #e4800f;
    border-radius: 4px;
    padding: 0.25rem 0.75rem;
    gap: 0.25rem;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;

    &:before {
      content: 'Logo';
      color: black;
    }
  }
}

nav {
  grid-area: nav;
  background: #378dbe;

  margin-top: 5.7rem;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: auto;
  display: none;
  background: #378dbe;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 1rem;
  a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 1rem;
  }
}

.menu-toggle {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  &:checked ~ nav {
    display: flex;
  }
  &:checked + header .menu-icon::before {
    content: '✕';
  }
}

.menu-icon {
  margin-left: auto;
  font-size: 2rem;

  &::before {
    content: '☰';
  }
}

main {
  grid-area: main;
  padding: 1.5rem;
  background: white;
}

aside {
  grid-area: aside;
  padding: 1.5rem;
  background: #d6f8e8;
  font-weight: bold;

  div {
    margin-top: 1rem;
    display: flex;

    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
  }

  span {
    font-size: 4rem;
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgb(70, 163, 83);
  color: white;
  text-align: center;
  padding: 1rem 0;
}

@media (min-width: 1024px) {
  .container {
    grid-template-columns: 3fr 1fr;

    grid-template-areas:
      'header header'
      'nav nav'
      'main aside'
      'footer footer';

    max-width: 1200px;
  }

  .menu-toggle {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  nav {
    position: static;
    display: block;
    text-align: left;
    flex-direction: row;
    height: auto;
    margin-top: 0;
    padding: 0;
    padding-left: 1.5rem;
  }
}
